* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    z-index: 4;
}

html,
body {
    height: 100%;
    font-size: 12px;
    overflow: hidden;
}

body {
    user-select: none;
    cursor: default;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 75%;
}

body {
    background: repeat black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans", Arial;
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.secondary-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    -o-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    position: absolute;
    opacity: 0;
    display: none;
    height: 65%;
    width: 40%;
    left: 40%;
    top: 0;
    pointer-events: none;
    opacity: 1;
    display: block;
    pointer-events: auto;
}

.secondary-box .eq-fq-slider {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAABRCAYAAAAuCa0YAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAI5JREFUeNrs2D0OgCAMBlA0nsKZ+5/I2Wsgi4sL1sE/XpMuBNLl5QvpUErJKV5L7bn2Wjv8fqhD08Xah4ZrTA9UP0OnwN18gNQ6BwkkkEACCaSXQcqNP1L0HkgSSSKBBBJIIIH0JUhX90hn/kggSSSJBBJIIIEE0t8g2SOBJJFAAgkkkEDqGdLte6RNgAEAkc1j60UqpYIAAAAASUVORK5CYII=) no-repeat left top;
    position: relative;
    margin: 0 1%;
    float: left;
    width: 29px;
    height: 81px;
    opacity: 0.7;
}

.ui-slider-vertical {
    width: .8em;
    height: 100px;
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider-range {
    background: white;
    width: 1px;
    margin-left: 14px;
    margin-bottom: 1px;
}

.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}

.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

a {
    text-decoration: none;
    color: #acacac;
    cursor: default;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}

.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}

img,
a {
    -webkit-user-drag: none;
}

.secondary-box .eq-fq-slider .ui-slider-handle {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACBJREFUeNpi/A8EDEQCJgYSwCBRzALEjKQoHtahARBgAKMFBRYoRybiAAAAAElFTkSuQmCC) no-repeat center center;
    width: 11px;
    height: 11px;
    padding: 3px;
    left: 6px;
}