* {
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 53px;
}

.header::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  top: 53px;
  left: 0;
  background: #dadee2;
  display: block;
  transform: scaleY(.5);
}

.upload {
  position: relative;
  top: 10px;
  left: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  width: 104px;
  height: 32px;
  border: 1px solid transparent;
  border-radius: 30px;
  z-index: 1;
  background: #ff9800;
  font-family: cursive;
  font-size: smaller;
  cursor: pointer;
}

.download {
  position: absolute;
  display: flex;
  top: 10px;
  left: 135px;
  width: 32px;
  height: 32px;
  border: 1px solid #00000029;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.download img {
  width: 18px;
  height: 17px;
  /* fill: #00000029; */
}

.delete {
  position: absolute;
  display: flex;
  top: 10px;
  left: 179px;
  width: 32px;
  height: 32px;
  border: 1px solid #00000029;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.delete img {
  width: 18px;
  height: 17px;
  /* fill: #00000029; */
}

.refresh {
  position: absolute;
  display: flex;
  top: 10px;
  left: 223px;
  width: 32px;
  height: 32px;
  border: 1px solid #00000029;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.refresh svg {
  width: 18px;
  height: 17px;
  fill: #000000c7;
}

.rotateanimation {
  -webkit-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.refresh:hover {
  background: #2baf2b;
  border: 1px solid #2baf2b;
}

.refresh:hover svg {
  fill: white;
}

.nav {
  position: relative;
  top: 55px;
  left: 0px;
  width: 100%;
  height: 53px;
}

.nav::after {
  content: '';
  position: relative;
  height: 1px;
  width: 100%;
  top: 55px;
  left: 0;
  background: #dadee2;
  display: block;
  transform: scaleY(.5);
}

.content {
  position: relative;
  top: 57px;
  left: 5px;
  width: 100%;
  height: 50px;
}

.content::after {
  content: "";
  position: relative;
  height: 1px;
  width: 100%;
  top: -15px;
  left: 0px;
  background: #dadee2;
  display: none;
  transform: scaleY(.5);
}

.content .operation {
  text-align: left;
  position: relative;
  top: -78px;
  left: 406px;
  font-size: 16px;
  font-family: cursive;
  font-weight: bold;
  color: #444;
  width: 60px;
}

.content .martist {
  text-align: left;
  position: relative;
  top: -55px;
  left: 630px;
  font-size: 16px;
  font-family: cursive;
  font-weight: bold;
  color: #444;
  width: 135px;
}

.content .mduration {
  text-align: left;
  position: relative;
  top: -102px;
  left: 900px;
  font-size: 16px;
  font-family: cursive;
  font-weight: bold;
  color: #444;
  width: 75px;
}

.content .mformat {
  text-align: left;
  position: relative;
  top: -125px;
  left: 1060px;
  font-size: 16px;
  font-family: cursive;
  font-weight: bold;
  color: #444;
  width: 60px;
}

.content .msize {
  text-align: left;
  position: relative;
  top: -147px;
  left: 1200px;
  font-size: 16px;
  font-family: cursive;
  font-weight: bold;
  color: #444;
  width: 40px;
}

.selectall {
  position: relative;
  top: 13px;
  left: 34px;
  width: 15px;
  height: 19px;
  cursor: pointer;
}

.mname {
  position: relative;
  top: -10px;
  left: 61px;
  width: 320px;
  height: 40px;
}

.name {
  position: relative;
  top: -3px;
  left: 0px;
  font-size: 16px;
  font-family: cursive;
  font-weight: bold;
  color: #444;
  text-align: left;
  display: inline-block;
}

ol {
  list-style: none;
}

.mucontainer {
  position: absolute;
  width: 100%;
  top: 160px;
  right: 0;
  left: 0;
  bottom: 94px;
  background: transparent;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 9999;
}

.mucontainer .sbox {
  width: 98%;
  height: 40px;
  display: flex;
  background: rgba(136, 136, 136, 0.08);
  border: 0.1px solid transparent;
  border-radius: 10px;
}

.mucontainer .sbox:hover {
  border-color: rgba(136, 136, 136, 0.47);
}

.mucontainer .sboxhide {
  transition: height .25s;
  height: 0;
  padding: 0;
  font-size: 0;
  border: none;
}

.mucontainer .sbox input {
  position: relative;
  top: 11px;
  left: 38px;
  width: 15px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mucontainer .sbox .sname {
  position: relative;
  left: 51px;
  width: 320px;
  display: flex;
  overflow: hidden;
  align-items: center;
  text-align: left;
  font-family: cursive;
  font-weight: bold;
  color: #6666669e;
}

.mucontainer .sbox .soperation {
  width: 85px;
  display: flex;
  align-items: center;
  position: relative;
  left: 76px;
}

.mucontainer .sbox .soperation .splay {
  width: 17px;
  height: 17px;
}

.mucontainer .sbox .soperation .sdown {
  width: 17px;
  height: 17px;
  margin-left: 10px;
  margin-right: 10px;
}

.mucontainer .sbox .soperation .sdel {
  width: 17px;
  height: 17px;
}

.mucontainer .sboxhide input {
  height: 0;
}

.mucontainer .sboxhide .soperation .splay {
  height: 0;
}

.mucontainer .sboxhide .soperation .sdown {
  height: 0;
}

.mucontainer .sboxhide .soperation .sdel {
  height: 0;
}

.disableddiv {
  pointer-events: none;
}

.mucontainer .sbox .sartist {
  display: flex;
  width: 135px;
  align-items: center;
  text-align: left;
  overflow: hidden;
  font-family: cursive;
  font-weight: bold;
  color: #6666669e;
  position: relative;
  left: 210px;
}

.mucontainer .sbox .sduration {
  display: flex;
  align-items: center;
  text-align: left;
  font-family: cursive;
  font-weight: bold;
  color: #6666669e;
  width: 75px;
  overflow: hidden;
  position: relative;
  left: 360px;
}

.mucontainer .sbox .sformat {
  display: flex;
  align-items: center;
  text-align: left;
  font-family: cursive;
  font-weight: bold;
  overflow: hidden;
  color: #6666669e;
  position: relative;
  left: 445px;
}

.mucontainer .sbox .ssize {
  display: flex;
  align-items: center;
  text-align: left;
  font-family: cursive;
  font-weight: bold;
  color: #6666669e;
  overflow: hidden;
  position: relative;
  left: 530px;
}

.mucontainer .addflyin {
  animation: flyin 1.2s ease forwards;
  opacity: 0;
  transform: scale(2);
  filter: blur(4px);
}

@keyframes flyin {
  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}

.song_panel {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 94px;
}

.song_panel::before {
  content: "";
  position: relative;
  height: 1px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background: #dadee2;
  display: block;
  transform: scaleY(.5);
}

.analyser {
  position: absolute;
  top: -40px;
  left: 0px;
  width: 100%;
  height: 40px;
  background: transparent;
  z-index: 10000;
}

.song {
  display: none;
}

.song_progress {
  position: relative;
  left: 0px;
  top: 0px;
  display: flex;
  background: #dadee2;
  width: 100%;
  height: 2px;
  flex-basis: 100%;
  flex: 10;
  cursor: pointer;
}

.part {
  position: relative;
  left: 0px;
  top: 0px;
  width: 50%;
  height: 2px;
  background-color: #2baf2b;
  flex: 0;
  flex-basis: 0%;
}

.thumb {
  position: relative;
  height: 2px;
  width: 3px;
  background-color: yellow;
  cursor: pointer;
}

.thumb.pause {
  position: relative;
  top: -2.5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: green;
  cursor: pointer;
}

.song_info {
  position: relative;
  top: 0px;
  left: 0px;
  height: 94px;
  width: 400px;
}

.album {
  cursor: pointer;
  position: relative;
  top: 10px;
  left: 10px;
  height: 70px;
  width: 70px;
  border: 1px solid #dadee2;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.album_img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.rotateanimation {
  -webkit-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.dropdownBackground {
  width: 300px;
  height: 430px;
  position: absolute;
  bottom: 80px;
  left: 44px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
  transition: all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  display: none;
  /* flex*/
  justify-content: center;
  opacity: 0;
  z-index: 10001;
}

.dropdownBackground.open {
  opacity: 1;
}

.darrow {
  position: absolute;
  bottom: -10px;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  transform: rotate(45deg);
}

.song_name {
  cursor: pointer;
  position: relative;
  top: -50px;
  left: 100px;
  width: 150px;
  height: 30px;
  text-align: left;
  font-family: cursive;
  font-size: medium;
  font-weight: bolder;
  overflow: hidden;
}

.song_artist {
  cursor: pointer;
  position: relative;
  top: -50px;
  left: 100px;
  text-align: left;
  font-family: cursive;
  font-size: small;
  font-weight: bold;
  width: 120px;
  height: 25px;
  overflow: hidden;
}

.backward {
  cursor: pointer;
  position: absolute;
  top: 23px;
  left: 474px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #dadee2;
  width: 50px;
  height: 50px;
}

.backward svg {
  width: 20px;
  height: 20px;
  fill: black;
}

#back {
  fill: #00000080;
  transform: rotate(180deg);
}

.backward:hover {
  background: #2baf2b;
  border: 2px solid #2baf2b;
}

.backward:hover #back {
  fill: white;
}

.play {
  cursor: pointer;
  position: absolute;
  top: 16px;
  left: 542px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #dadee2;
  width: 62px;
  height: 62px;
}

.play svg {
  width: 20px;
  height: 20px;
}

#pa {
  fill: #00000080;
  position: absolute;
  display: none;
  color: #00000080;
}

#pl {
  fill: #00000080;
}

.play:hover {
  background: #2baf2b;
  border: 2px solid #2baf2b;
}

.play:hover #pl {
  fill: white;
}

.play:hover #pa {
  fill: white;
}

.forward {
  cursor: pointer;
  position: absolute;
  top: 23px;
  left: 622px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #dadee2;
  width: 50px;
  height: 50px;
}

.forward svg {
  width: 20px;
  height: 20px;
  fill: black;
}

#for {
  fill: #00000080;
}

.forward:hover {
  background: #2baf2b;
  border: 2px solid #2baf2b;
}

.forward:hover #for {
  fill: white;
}

.volume {
  position: absolute;
  top: 40px;
  left: 743px;
}

.volume svg {
  width: 20px;
  height: 20px;
}

.volume input {
  position: relative;
  top: -22px;
  left: 22px;
  width: 70px;
  height: 3px;
}

.player_slider {
  -webkit-appearance: none;
  appearance: none;
  background: #9ba3af;
  outline: none;
  z-index: 9999;
  opacity: 1;
}

.player_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 7px;
  height: 7px;
  outline: none;
  background: #9ba3af;
  border: 1px solid #9ba3af;
  border-radius: 50%;
  cursor: pointer;
  display: block;
}

.player_slider::-webkit-slider-thumb:hover {
  background: red;
  border: 1px solid red;
}

.player_slider::-webkit-slider-thumb:active {
  background: red;
  border: 1px solid red;
}

.player_slider::-moz-range-thumb {
  width: 7px;
  height: 7px;
  background: #9ba3af;
  outline: none;
  border: 1px solid #9ba3af;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  opacity: 1;
  display: block;
}

.player_slider::-moz-range-thumb:hover {
  background-color: red;
  border: 1px solid red;
}

.player_slider::-moz-range-thumb:active {
  background-color: red;
  border: 1px solid red;
}

.player_slider::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 7px;
  height: 7px;
  outline: none;
  background: #9ba3af;
  border: 1px solid #9ba3af;
  border-radius: 50%;
  cursor: pointer;
  display: block;
}

.player_slider::-ms-thumb:hover {
  background: red;
  border: 1px solid red;
}

.player_slider::-ms-thumb:active {
  background: red;
  border: 1px solid red;
}

#vol {
  display: none;
  cursor: pointer;
  fill: #00000080;
}

#vol:hover {
  fill: #2baf2b;
}

#mute {
  display: block;
  cursor: pointer;
  fill: #00000080;
}

#mute:hover {
  fill: red;
}

.pip {
  position: absolute;
  top: 42px;
  left: 907px;
  outline: none;
  border: none;
}

.repeat {
  position: absolute;
  top: 35px;
  left: 867px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.repeat svg {
  width: 30px;
  height: 30px;
}

#rep {
  fill: #00000080;
}

#rep:hover {
  fill: #2baf2b;
}

.duration {
  cursor: pointer;
  position: relative;
  float: right;
  top: -55px;
  right: 53px;
}

.now {
  color: #00000080;
}

.full {
  color: #00000080
}

.s {
  color: #00000080;
}