.container {
  margin: 0;
  padding: 0;
  padding: 20px;
  background: #eee;
  user-select: none;
}

#slider {
  height: 35vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  /* background: url(g.jpg)no-repeat;
  background-size: cover; */
  transition: transform 0.4s ease;
}

#slider label.slide3 {
  transform: translate3d(0, 0, -200px);
}

#slider label.slide2 {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .37);
  transform: translate3d(-30%, 0, -200px);
}

#slider label.slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
  transform: translate3d(-15%, 0, -100px);
}

#slider label.active {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
  transform: translate3d(0, 0, 0);
}

#slider label.slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
  transform: translate3d(15%, 0, -100px);
}

#slider label.slide5 {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .37);
  transform: translate3d(30%, 0, -200px);
}

#slider label.slide6 {
  transform: translate3d(0, 0, -200px);
}

#slide1 {
  background: #00BCD4
}

#slide2 {
  background: #4CAF50
}

#slide3 {
  background: #CDDC39
}

#slide4 {
  background: #FFC107
}

#slide5 {
  background: #FF5722
}

#slide6 {
  background: #fe514e
}

#slide7 {
  background: #000DEF
}

#slide8 {
  background: darkgrey
}

#slide0 {
  background: pink
}

#slide-1 {
  background: black
}

#slide9 {
  background: #eee
}

#slide10 {
  background: #dadee2
}

#slide-2 {
  background: lightgreen
}